<link href="~/Content/RDStyle.css" rel="stylesheet" />

@model ReviewSite1.Models.Review

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>Review Details</h2>
    <div class="row">
        <div class="thumbnail">
            <h3> @Html.DisplayFor(model => model.Title) </h3>

            <p> Type of destination: @Html.DisplayFor(model => model.Category.Type) </p>


            <p>Review written by: @Html.DisplayFor(model => model.Name) on  @Html.DisplayFor(model => model.ReviewDate) </p>

            <div class="thumbnail review">
                <p class="a">" @Html.DisplayFor(model => model.ReviewContent) "</p>
                <p> Would  @Html.DisplayFor(model => model.Name) recommend this? : @Html.DisplayFor(model => model.WouldRecommend) </p>
                <p> Rating: @Html.DisplayFor(model => model.Rating) / 10 </p>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
